*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: red;
    padding: 16px;
    display:flex;
    justify-content: center;
}

.item{
    background-color: aqua;
    height: 100px;
    border: 1px solid black;
    flex: 1 1 0; 
}