*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: red;
    padding: 16px;
    display:flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    flex-wrap:wrap;
}

.item{
    background-color: aqua;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    flex: 0 0 400px; 
}